{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Basic Page</title>
</head>
<body>
    <a href ="{% url 'home' %}">Home</a>
    <a href ="{% url 'about' %}">About</a>
    <a href ="{% url 'contact' %}">Contact</a>
    <a href ="{% url 'services' %}">Services</a>
    <a href ="{% url 'products' %}">Products</a>
    <a href ="{% url 'gallery' %}">Gallery</a>
    <h1>Welcome to My Basic HTML Page</h1>
    <p>This is a very simple page to get started.</p>

    <img src="{% static 'images/1.avif' %}" alt="Sample Image">
    <img src="{% static 'images/2.avif' %}" alt="Sample Image">
</body>
</html>
